build:opt --compilation_mode=opt
build:opt --copt=-Wframe-larger-than=16384

build:windows_opt --compilation_mode=opt
build:windows_dbg --compilation_mode=dbg

build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --copt=-O0
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address
build:asan --action_env=ASAN_OPTIONS=detect_leaks=1:color=always

build:asan_macos --compiler clang
build:asan_macos --strip=never
build:asan_macos --copt=-fsanitize=address
build:asan_macos --copt -Wno-macro-redefined
build:asan_macos --copt -D_FORTIFY_SOURCE=0
build:asan_macos --copt=-fsanitize=address
build:asan_macos --copt=-O0
build:asan_macos --copt=-fno-omit-frame-pointer
build:asan_macos --linkopt=-fsanitize=address
build:asan_macos --action_env=ASAN_OPTIONS=detect_leaks=0

# build:msan --strip=never
# build:msan --copt=-fsanitize=memory
# build:msan --copt=-O0
# build:msan --copt=-fsanitize-memory-track-origins
# build:msan --copt=-fsanitize-memory-use-after-dtor
# build:msan --copt=-fno-omit-frame-pointer
# build:msan --linkopt=-fsanitize=memory
# build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1

build:tsan --strip=never
build:tsan --copt=-fsanitize=thread
build:tsan --copt=-fno-omit-frame-pointer
build:tsan --linkopt=-fsanitize=thread
build:tsan --test_env=TSAN_OPTIONS=report_atomic_races=0
