[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/upb"]
	path = third_party/upb
	url = https://github.com/protocolbuffers/upb
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl
